body{
    background-color: #255f85;
    color: #ffc857;
    text-align: center;
    justify-content: center;
    font-family: "Hanken Grotesk", serif;
}
.start{
    background-color: #e9724c;
    color: #ffffff;
    border: none;
   padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
    font-family: "Hanken Grotesk", serif;
}
.center{
    height: 200px;
    width: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}